<plugin name='richui-two' version='0.8' grailsVersion='2.3 &gt; *'>
  <author>Miguel Angel Alacio</author>
  <authorEmail>mcvela@hotmail.com</authorEmail>
  <title>Provides a set of AJAX components</title>
  <description>
Provides a set of AJAX components
</description>
  <documentation>http://grails.org/RichUI+Plugin</documentation>
  <resources>
    <resource>RichuiTwoConfig</resource>
    <resource>UrlMappings</resource>
    <resource>de.andreasschmitt.richui.FontImageController</resource>
    <resource>de.andreasschmitt.richui.FontImageService</resource>
    <resource>de.andreasschmitt.richui.AccordionTagLib</resource>
    <resource>de.andreasschmitt.richui.AutoCompleteTagLib</resource>
    <resource>de.andreasschmitt.richui.CalendarDayViewTagLib</resource>
    <resource>de.andreasschmitt.richui.CalendarMonthViewTagLib</resource>
    <resource>de.andreasschmitt.richui.CalendarWeekViewTagLib</resource>
    <resource>de.andreasschmitt.richui.CarouselTagLib</resource>
    <resource>de.andreasschmitt.richui.CheckedTreeViewTagLib</resource>
    <resource>de.andreasschmitt.richui.DateChooserTagLib</resource>
    <resource>de.andreasschmitt.richui.FlowTagLib</resource>
    <resource>de.andreasschmitt.richui.FontTagLib</resource>
    <resource>de.andreasschmitt.richui.GoogleMapsTagLib</resource>
    <resource>de.andreasschmitt.richui.LightBoxTagLib</resource>
    <resource>de.andreasschmitt.richui.MapTagLib</resource>
    <resource>de.andreasschmitt.richui.PortletTagLib</resource>
    <resource>de.andreasschmitt.richui.ProgressBarTagLib</resource>
    <resource>de.andreasschmitt.richui.RatingTagLib</resource>
    <resource>de.andreasschmitt.richui.ReflectionImageTagLib</resource>
    <resource>de.andreasschmitt.richui.RichTextEditorTagLib</resource>
    <resource>de.andreasschmitt.richui.RichUIResourceTagLib</resource>
    <resource>de.andreasschmitt.richui.RichUIUtilTagLib</resource>
    <resource>de.andreasschmitt.richui.SliderTagLib</resource>
    <resource>de.andreasschmitt.richui.TabViewTagLib</resource>
    <resource>de.andreasschmitt.richui.TagCloudTagLib</resource>
    <resource>de.andreasschmitt.richui.TimelineTagLib</resource>
    <resource>de.andreasschmitt.richui.TooltipTagLib</resource>
    <resource>de.andreasschmitt.richui.TreeViewTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>